<h2>Services</h2>

<h3>Get list</h3>
@if (getListTask(); as data) {
<ul>
    @for (task of data; track $index) {
    <li>{{ task.title }}</li>
    } @empty {
    <li>No task found</li>
    }
</ul>
} @else {
<p>Loading...</p>
}

<h3>Get item</h3>
@if (getListTask(); as data) {
    Get por id: {{ getTaskId() | json }}
}

<h3>Post taks</h3>
<input #newTask type="text" placeholder="Add new task">
<button (click)="postTask(newTask.value)">Add new task</button>

<h3>Pacth taks</h3>
<input #id type="text" placeholder="Add id">
<input #newTask2 type="text" placeholder="Add new task">
<button (click)="patchTask(id.value, newTask2.value)">Add new task</button>