<!--
  Ele é util para adicionar um formulário simples a um
  aplicativo, como um formulário de inscrição em uma lista de e-mail.

  É mais fácil de adicionar a um aplicativo, mas não são escalonáveis
  tão bem quanto os formulários reativos.
-->

<h3>Template drive forms</h3>
<form>
    <label>
        <input 
            type="text" 
            name="inputName"
            #name="ngModel"
            [(ngModel)]="name.value"
            required
        >
    </label>

    <hr>
    <p>
        value: {{ name.value }}
        <br>
        valid: {{ name.valid }}
        <br>
        dirty(formulario ja preenchido): {{ name.dirty }}
        <br>
        touched(formulario ja tocado): {{ name.touched }}
    </p>
    <hr>

    <label>
        Feminino:
        <input 
            type="radio" 
            value="feminino"
            name="radioSexo"
            #sexo="ngModel"
            [(ngModel)]="sexo.value"
            required
        />
    </label>

    
    <label>
        Masculino:
        <input 
            type="radio" 
            value="masculino"
            name="radioSexo"
            #sexo="ngModel"
            [(ngModel)]="sexo.value"
            required
        />
    </label>

    <hr>
    <p>
        value: {{ sexo.value }}
        <br>
        valid: {{ sexo.valid }}
        <br>
        dirty: {{ sexo.dirty }}
        <br>
        touched: {{ sexo.touched }}
    </p>
    <hr>

    <label>
        Angular:
        <input 
            type="checkbox" 
            value="angular"
            name="checkAngular"
            #techAngular="ngModel"
            [(ngModel)]="techAngular.value"
            required
        />
    </label>

    <hr>
    <p>
        value: {{ techAngular.value }}
        <br>
        valid: {{ techAngular.valid }}
        <br>
        dirty: {{ techAngular.dirty }}
        <br>
        touched: {{ techAngular.touched }}
    </p>
    <hr>
</form>
