<h3>Reactive forms</h3>

<form [formGroup]="profileForm">
    <label>
        Name:
        <input 
            type="text" 
            formControlName="name"
            required
        />
    </label>

    <hr>
    <h3> 
        [formGroup] = profileForm
    </h3>
    <p>value:{{ profileForm.value.name }}</p>
    <p>valid:{{ profileForm.valid }}</p>
    <p>dirty:{{ profileForm.dirty }}</p>
    <p>touched:{{ profileForm.touched }}</p>
    <hr>

    <hr>
    <h3>
        [formControlName] = name
    </h3>
    <p>value:{{ profileForm.get('name')?.value }}</p>
    <p>valid:{{ profileForm.get('name')?.valid }}</p>
    <p>dirty:{{ profileForm.get('name')?.dirty }}</p>
    <p>touched:{{ profileForm.get('name')?.touched }}</p>
    <hr>

    <div formGroupName="myStacks">
        <label>
            Front:
            <input 
                type="text" 
                formControlName="front"    
            />
            <p>value: {{ profileForm.value.myStacks?.front }}</p>
        </label>

        <label>
            Back:
            <input 
                type="text" 
                formControlName="back"    
            />
            <p>value: {{ profileForm.value.myStacks?.back }}</p>
        </label>
    </div>


    <button type="button" (click)="update()">Atualizar valores</button>

    <hr>
    <label>
        New food:
        <input 
            type="text"
            #newFood
        />
    </label>

    <button type="button" (click)="addFavoriteFood(newFood.value)">Adicionar comida</button>
    <hr>

    <div formArrayName="myFavoriteFoods">
        @for (item of profileForm.value.myFavoriteFoods; track $index;) {
            <label>
                {{ item }}
                <input type="text" [formControlName]="$index">
            </label>
        }
    </div>

    <button [disabled]="!profileForm.valid">Submit</button>
</form>